.side-nav {
  grid-area: 1 / 1 / 28 / 6;
  background-color: $sidebar-color;
  z-index: 2;
  position: sticky;
  top: 0;
  height: auto;
  width: 190px;

  .side-nav-top {
    display: flex;
    justify-content: space-between;
    border: none !important;

    .logo {
      color: $background-color;
      margin-left: .5rem;
      margin-right: 2rem;
      font-family: $logo-font;
    }
  }

  hr {
    @include horizontal-line;
  }
}

.hamburger-main {
  .hamburger {
    padding: 1rem;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    margin: 0;

    .hamburger__box {
      width: 1.5rem;
      height: 1rem;
      display: inline-block;
      position: relative;

      .hamburger__inner {
        @include hamburger-line;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: .2s .1s;
      }

      .hamburger__inner::before,
      .hamburger__inner::after {
        @include hamburger-line;

        content: '';
        left: 0;
      }

      .hamburger__inner::before {
        top: -9px;
      }

      .hamburger__inner::after {
        top: 9px;
      }
    }
  }
}

.hamburger--active .hamburger__inner {
  background-color: transparent !important;
}

.manager {
  margin-top: .5rem;
  font-family: $font;

  h4 {
    color: $links-color;
    text-transform: uppercase;
    margin-left: 1rem;
  }

  a {
    display: flex;
    align-items: center;
    color: $blue;
    text-decoration: none;
    font-size: 0.9rem;

    img {
      width: 3rem;
      height: 3rem;
      border-radius: 50%;
      margin: 0 0.8rem 0 1rem;
    }
  }

  a:hover {
    background-color: $hover-background;
    color: white;
    text-decoration: underline;
    border-left: orange solid 4px;
  }
}

.side-nav-active {
  width: 3rem;
  height: 7vh;
  background: transparent;

  .logo,
  .manager,
  .navigation-list,
  hr {
    display: none;
  }

  .hamburger {
    display: flex;
    justify-content: flex-start;
    margin-left: auto;
  }
}

.top-side-bar {
  display: none;
}

@media only screen and (min-width: 820px) {
  .hamburger-main {
    display: none;
  }
}

@media (max-width: 820px) {
  .side-nav {
    width: auto;
  }

  .side-nav .side-nav-top {
    width: 170px;
    
  }


  .navigation .navigation-list .icons {
    width: 1rem;
    height: 1rem;
  }

  .navigation .navigation-list .navigation-item {
    padding: .6rem 1rem;
    font-size: smaller;
  }

  .top-side-bar {
    display: flex;
  }


  .navigation-list-side li {
    margin-bottom: 1px;
  }

  .top-side-bar .top-side-nav {
    margin-top: -20px;
  }

  .manager h4 {
    font-size: smaller;
  }

  .manager a img {
    width: 2rem;
    height: 2rem;
  }
}