/* Colors */
$background-color: #f5f5f2;
$sidebar-color: #333333;
$brand-main-color: #ff0000;
$links-color: #8395a7;
$hover-background: #979797;
$blue: #56819F;
$darkGrey: #979797;
$lightGrey: #e3e3e3;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$logo-font: 'Norican', cursive;
$brand-font: "Open Sans", Helvetica, Arial;
$paragraph-font: 'Source Sans Pro', sans-serif;
$font: 'Roboto', sans-serif;

/* Animation */
$transitions: .5s .1s ease-in-out;

$border: .1px solid $lightGrey; 
